In [3]:
import pandas as pd
import numpy as np

In [42]:
# importing data and cleaning columns
electricity = pd.read_csv("data/electricity_fulldata.csv", encoding='utf-16')
original_first_column = electricity.columns[0]
electricity_columns = original_first_column.split("\t")
electricity[electricity_columns] = [i.split("\t") for i in electricity[original_first_column]]
electricity = electricity.drop(columns=[original_first_column])

electricity_csv_df = pd.read_csv("data/electricity_fulldata.csv", encoding='utf-16')
electricity = pd.DataFrame(columns=electricity_csv_df.columns[0].split("\t"))
for i in range(electricity_csv_df.shape[0]):
    electricity.loc[i] = electricity_csv_df.loc[i].values[0].split("\t")

electricity

,Year of Period,Month of Period,Unit,Generation Source,Aggregation,Period,Generated
0,2011,April,TJ,Other,Indig. Product.,4/1/2011,0
1,2012,April,TJ,Other,Indig. Product.,4/1/2012,0
2,2013,April,TJ,Other,Indig. Product.,4/1/2013,23.939775566
3,2014,April,TJ,Other,Indig. Product.,4/1/2014,4.924275793
4,2015,April,TJ,Other,Indig. Product.,4/1/2015,0.018
...,...,...,...,...,...,...,...
10483,2025,April,ktoe,Wind,Indig. Product.,4/1/2025,67.478073947
10484,2025,April,TJ,Combust. Renew.,Indig. Product.,4/1/2025,46.3824
10485,2025,April,TJ,Hydro,Indig. Product.,4/1/2025,124.0092
10486,2025,April,TJ,Solar Farms,Indig. Product.,4/1/2025,432.9936
10487,2025,April,TJ,Wind,Indig. Product.,4/1/2025,2825.172